div#parent {
	height: 100vh;
	background-color: #072d4c;
}

header#header {
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	font-style: normal;
	background-color: #fde907;
	font-size: 40px;
	color: #072d4c;
	text-align: center;
	padding: 5px;
}

img#fotorafael {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
img#fotonumero1 {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	background-color: white;
	margin-top: 100px;
}
img#fotonumero2 {
	display: none;
}
img#fotoemconstrucao {
	margin-top: 2.5em;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

main {
	display: flex;
	flex-direction: row;
}

@media screen and (max-width: 800px) {
	main {
		display: contents;
	}
	header#header {
		font-size: 30px;
		padding: 8px;
	}
	img#fotonumero1 {
		display: none;
	}
	img#fotonumero2 {
		margin-left: auto;
		margin-right: auto;
		display: block;
		position: fixed;
		bottom: 0px;
		width: 100%;
		background-color: white;
	}
	img#fotorafael {
		margin-left: auto;
		margin-right: auto;
		display: block;
		width: 100%;
	}
	img#fotoemcostrucao {
		margin-left: auto;
		margin-right: auto;
		display: block;
		width: 80%;
	}
}
